.home {
  background-color: #101010;
  height: 90px;
}
.home .menu {
  gap: 45px;
}
.home .menu .item-menu {
  color: #fff;
  padding: 9.5px 0;
}

/* Ẩn nội dung các tab không hoạt động */
.tab-content,
.tab-content-2 {
  display: none;
}

/* Hiển thị tab đang hoạt động */
.tab-content.active,
.tab-content-2.active-2 {
  display: block;
}

/* CSS cho các nút tab */
.tab-button,
.tab-button-2 {
  background-color: #f8f8f8;
  color: #343434;
}

/* Nút tab đang hoạt động */
.tab-button.active,
.tab-button-2.active-2 {
  background-color: #343434;
  color: #fff;
}
