.home {
  background-color: #101010;
  height: 90px;
}
.home .menu {
  gap: 45px;
}
.home .menu .item-menu {
  color: #fff;
  padding: 9.5px 0;
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
.home {
}
